body {
    background-color: #221F1F;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#logo {
    width:10%;
}

.category-title {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.selection-row {
    margin-bottom: 3em;
}

.selection-next {
    display: block;
    position: absolute;
    top: 0%;
    display: block;
    width: 33px;
    height: 150px;
    right: -1px;
    background: transparent;
    border:none;
}

.selection-previous {
    display: block;
    position: absolute;
    top: 0%;
    display: block;
    width: 33px;
    height: 150px;
    left: -25px;
    background: transparent;
    border:none;
}

.selection-next:hover, .selection-previous:hover {
    background-color: white;
}

.selection-next:hover i, .selection-previous:hover i {
    color: black;
}

.selection-next i, .selection-previous i {
    color: white;
}

.selection-image {
    height: 150px;
    width: 300px;
}